{% load static %}
<footer class="bg-soft-primary">
  <div class="container py-13 py-md-15">
    <div class="row gy-6 gy-lg-0">
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          {% comment %}
          <img
            style="height: 70%; width: 70%"
            src="{% static 'assets/img/logo_footer.png' %}"
            srcset="{% static 'assets/img/logo_footer.png' %}"
            alt="Muhammadali LIVE"
          />
          {% endcomment %}
          <p class="mb-4">
            © 2022 Muhammadali Live <br class="d-none d-lg-block" />
          </p>
          <nav class="nav social">
            <a href="https://twitter.com/Muhammadali_abc/"
              ><i class="uil uil-twitter"></i
            ></a>
            <a href="https://t.me/Muhammadalive"
              ><span class="iconify" data-icon="ic:twotone-telegram"></span
            ></a>
            <a href="https://youtu.be/lhKRgHSpbZw"
              ><i class="uil uil-youtube"></i
            ></a>
            <a href="https://www.linkedin.com/in/akbarov-muhammadali-107322202/"
              ><span class="iconify" data-icon="brandico:linkedin-rect"></span
            ></a>
            <a href="https://github.com/Muhammadali-Akbarov"
              ><span class="iconify" data-icon="akar-icons:github-fill"></span
            ></a>
          </nav>
          <!-- /.social -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          <h4 class="widget-title mb-3">Get in Touch</h4>
          <address class="pe-xl-15 pe-xxl-17">
            Olmazor St. 96A,Toshkent Uzbekistan
          </address>

          <a href="mailto:#" class="link-body">muhammadali17abc@gmail.com</a
          ><br />
          + 998 (88) 835 - 17 - 17 <br />
          + 998 (33) 677 - 27 - 17
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          <h4 class="widget-title mb-3">Learn More</h4>
          <ul class="list-unstyled text-reset mb-0">
            <li><a target="_blank" href="{%  url 'about-my-self' %}">About</a></li>
            <li><a target="_blank" href="https://github.com/muhamamdali-akbarov/">GitHub</a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCrzmGJAd1alr4LNREQ1AcCQ">Blog</a></li>
            <li><a target="_blank" href="{% url 'contact-me' %}">Contact</a></li>
            {% comment %}
            <li><a href="">Our Story</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Terms of Use</a></li>
            <li><a href="">Privacy Policy</a></li>
            {% endcomment %}
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-md-12 col-lg-3">
        <div class="widget">
          <h4 class="widget-title mb-3">Our Newsletter</h4>
          <p class="mb-5">
            Subscribe to our newsletter to get our news & deals delivered to
            you.
          </p>
          <div class="newsletter-wrapper">
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup2">
              <form
                action="https://elemisfreebies.us20.list-manage.com/subscribe/post?u=aa4947f70a475ce162057838d&amp;id=b49ef47a9a"
                method="post"
                id="mc-embedded-subscribe-form2"
                name="mc-embedded-subscribe-form"
                class="validate"
                target="_blank"
                novalidate
              >
                <div id="mc_embed_signup_scroll2">
                  <a href="https://t.me/ABC_PyEng">@ABC_PyEng</a>
                  <div id="mce-responses2" class="clear">
                    <div
                      class="response"
                      id="mce-error-response2"
                      style="display: none"
                    ></div>
                    <div
                      class="response"
                      id="mce-success-response2"
                      style="display: none"
                    ></div>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div
                    style="position: absolute; left: -5000px"
                    aria-hidden="true"
                  >
                    <input
                      type="text"
                      name="b_ddc180777a163e0f9f66ee014_4b1bcfa0bc"
                      tabindex="-1"
                      value=""
                    />
                  </div>
                  <div class="clear"></div>
                </div>
              </form>
            </div>
            <!--End mc_embed_signup-->
          </div>
          <!-- /.newsletter-wrapper -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</footer>
<div class="progress-wrap">
  <svg
    class="progress-circle svg-content"
    width="100%"
    height="100%"
    viewBox="-1 -1 102 102"
  >
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
  </svg>
</div>
