{% load static %}
<!-- section-intro -->
<section class="wrapper bg-soft-primary">
  <div
    class="container pt-5 pb-15 py-lg-17 py-xl-19 pb-xl-20 position-relative"
  >
    <img
      class="position-lg-absolute col-12 col-lg-10 col-xl-11 col-xxl-10 px-lg-5 px-xl-0 ms-n5 ms-sm-n8 ms-md-n10 ms-lg-0 mb-md-4 mb-lg-0"
      src="{% static 'images/python-intro.png' %}"
      srcset="assets/img/photos/devices@2x.png 2x"
      data-cue="fadeIn"
      alt=""
      style="top: -1%; left: -21%"
    />
    <div class="row gx-0 align-items-center">
      <div
        class="col-md-10 offset-md-1 col-lg-5 offset-lg-7 offset-xxl-6 ps-xxl-12 mt-md-n9 text-center text-lg-start"
        data-cues="slideInDown"
        data-group="page-title"
        data-delay="600"
      >
        <h1 class="display-2 mb-4 mx-sm-n2 mx-md-0">Muhammadali Akbarov</h1>
        <p class="lead fs-lg mb-7 px-md-10 px-lg-0">Python/GO Software Engineer</p>
        <div
          class="d-flex justify-content-center justify-content-lg-start"
          data-cues="slideInDown"
          data-group="page-title-buttons"
          data-delay="900"
        >
          <span
            ><a
              href="download-resume"
              class="btn btn-primary btn-icon btn-icon-start rounded me-2"
              ><span class="iconify" data-icon="bx:bxs-cloud-download"></span>
              My Résumé</a
            ></span
          >
          <span
            ><a
              href="about-my-self"
              class="btn btn-green btn-icon btn-icon-start rounded"
              ><span class="iconify" data-icon="bi:code-slash"></span> About
              Me</a
            ></span
          >
        </div>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
<section class="wrapper bg-light">
  <div class="container py-14 py-md-17">
    <div class="row text-center mt-xl-12">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2 class="fs-15 text-uppercase text-muted mb-3"></h2>
        <h3 class="display-4 mb-9 px-xxl-11">Skills & Experience</h3>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div
      class="row gx-lg-8 gx-xl-12 gy-8 mb-14 mb-md-17"
      data-cues="slideInUp"
      data-group="services"
    >
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row">
          <div>
            <span
              class="iconify svg-inject icon-svg icon-svg-sm text-aqua me-4"
              data-icon="logos:python"
            ></span>
          </div>
          <div>
            <h4 class="mb-1">Python Development</h4>
            <p class="mb-0">
              Python Core <br />
              Python OOP Programming <br />
              Algorithms & Data Structure
            </p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row">
          <div>
            <span
              class="iconify svg-inject icon-svg icon-svg-sm text-yellow me-4"
              data-icon="vscode-icons:file-type-django"
            ></span>
          </div>
          <div>
            <h4 class="mb-1">Django Development</h4>
            <p class="mb-0">
              Django Framework <br />
              Django Rest Framework <br />
              Django Celery Asynchronous <br />
            </p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row">
          <div>
            <span
              class="iconify svg-inject icon-svg icon-svg-sm text-pink me-4"
              data-icon="vscode-icons:file-type-sql"
            ></span>
          </div>
          <div>
            <h4 class="mb-1">Database Development</h4>
            <p class="mb-0">
              MySQL <br>
              PostgreSQL <br />
              Redis NoSQL <br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row">
          <div>
            <span
              class="iconify svg-inject icon-svg icon-svg-sm text-blue me-4"
              data-icon="logos:go"
            ></span>
          </div>
          <div>
            <h4 class="mb-1">Golang Development</h4>
            <p class="mb-0">
              Golang Core <br>
              Golang TGBot <br>
              Golang Gin Framework <br />
            </p>
          </div>
        </div>
      </div>
      <!--/column -->
      <!--/column -->
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row">
          <div>
            <span
              class="iconify svg-inject icon-svg icon-svg-sm text-blue me-4"
              data-icon="ic:twotone-telegram"
            ></span>
          </div>
          <div>
            <h4 class="mb-1">Telegram Development</h4>
            <p class="mb-0">
              Telethon Asyncio <br>
              Aiogram Asyncio <br>
              PyTelegramBotApi<br />
            </p>
          </div>
        </div>
      </div>
      <!--/column -->
   
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row">
          <div>
            <span
              class="iconify svg-inject icon-svg icon-svg-sm text-purple me-4"
              data-icon="logos:digital-ocean"
            ></span>
          </div>
          <div>
            <h4 class="mb-1">Cloud Development</h4>
            <p class="mb-0">
              Digital Ocean Droplets <br>
              Amazon Cloud Web Services<br />
              Heroku Cloud Application Platform<br />
            </p>
          </div>
        </div>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <div class="row gx-lg-8 gx-xl-10 mb-lg-19 mb-xl-22 align-items-center">
      <div class="col-lg-6">
        <figure>
          <video  class="container py-7 py-md-3 mt-0"
            src="https://core.telegram.org/file/464001705/2/Hg-klQnZ_n4.4889245.mp4/d324511ffdab7b4668"
            controls
          >
            Your browser does not support the video tag.
          </video>
        </figure>
      </div>
      <!-- /column -->
      <div class="col-lg-6">
        <h2 class="fs-15 text-uppercase text-muted mb-3">Current Project</h2>
        <h3 class="display-4 mb-5">Telegram Bot Api Payments System 2.0</h3>
        <p class="mb-8">
          We now have an online store at my workplace. We also sell all our
          products via Telegram. I think this project will be successful. And
          you can also follow our additional website.Visit the link below and
          join us step by step. <a href="http://alsafia-cpa.uz/">Alsafia</a>
        </p>
        <div
          class="row gy-6 gx-xxl-8 process-wrapper"
          data-cues="slideInUp"
          data-group="process"
        >
          <div class="col-md-4">
            <img
              src="{% static 'assets/img/icons/lineal/cloud-computing.svg' %}"
              class="svg-inject icon-svg icon-svg-sm text-green mb-3"
              alt=""
            />
            <h4 class="mb-1">1. Sign Up</h4>
            <p class="mb-0">You can join us.</p>
          </div>
          <!--/column -->
          <div class="col-md-4">
            <img
              src="{% static 'assets/img/icons/lineal/smartphone-2.svg' %}"
              class="svg-inject icon-svg icon-svg-sm text-red mb-3"
              alt=""
            />
            <h4 class="mb-1">2. Set Profile</h4>
            <p class="mb-0">Create your channels.</p>
          </div>
          <!--/column -->
          <div class="col-md-4">
            <img
              src="{% static 'assets/img/icons/lineal/rocket.svg' %}"
              class="svg-inject icon-svg icon-svg-sm text-aqua mb-3"
              alt=""
            />
            <h4 class="mb-1">3.Share ref-links</h4>
            <p class="mb-0">Share products links</p>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
<section class="wrapper bg-soft-primary">
  <div class="container py-14 pt-md-16 pt-lg-0 pb-md-16">
    <div class="row">
      <div class="col-xl-10 mx-auto">
        <div
          class="mt-lg-n20 mt-xl-n22 mb-14 mb-md-16 position-relative"
          data-cue="slideInUp"
        >
          
          <a
            href="{{videos.file.url}}"
            class="btn btn-circle btn-primary btn-play ripple mx-auto mb-5 position-absolute"
            style="
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 3;
            "
            data-glightbox
            ><i class="icn-caret-right"></i
          ></a>
          
          <figure class="rounded shadow">
            <img
              src="{% static 'assets/img/photos/telegram-bot.png' %}"
              srcset="{% static 'assets/img/photos/telegram-bot.png' %}"
              alt=""
            />
          </figure>
        </div>
        <h3 class="display-4 mb-10 px-lg-12 px-xl-15 text-center">
          About Telegram Bot Course
        </h3>
        <div class="row" data-cue="fadeIn">
          <div class="col-lg-6 mb-0">
            <div id="accordion-1" class="accordion-wrapper">
              <div class="card accordion-item">
                <div class="card-header" id="accordion-heading-1-1">
                  <button
                    class="collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-collapse-1-1"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-1-1"
                  >
                    PyTelegramBot Intro
                  </button>
                </div>
                <!-- /.card-header -->
                <div
                  id="accordion-collapse-1-1"
                  class="collapse"
                  aria-labelledby="accordion-heading-1-1"
                  data-bs-target="#accordion-1"
                >
                  <div class="card-body">
                    <p>
                      PyTelegramBot documentation & Get token from Botfather
                    </p>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.collapse -->
              </div>
              <!-- /.card -->
              <div class="card accordion-item">
                <div class="card-header" id="accordion-heading-1-2">
                  <button
                    class="collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-collapse-1-2"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-1-2"
                  >
                    Functions & Variables
                  </button>
                </div>
                <!-- /.card-header -->
                <div
                  id="accordion-collapse-1-2"
                  class="collapse"
                  aria-labelledby="accordion-heading-1-2"
                  data-bs-target="#accordion-1"
                >
                  <div class="card-body">
                    <p>
                      Create functions for to get informations from users with
                      user id
                    </p>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.collapse -->
              </div>
              <!-- /.card -->
              <div class="card accordion-item">
                <div class="card-header" id="accordion-heading-1-3">
                  <button
                    class="collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-collapse-1-3"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-1-3"
                  >
                    SQLite3 & Telegram bot
                  </button>
                </div>
                <!-- /.card-header -->
                <div
                  id="accordion-collapse-1-3"
                  class="collapse"
                  aria-labelledby="accordion-heading-1-3"
                  data-bs-target="#accordion-1"
                >
                  <div class="card-body">
                    <p>
                      Create functions for to get informations from users with
                      user id
                    </p>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.collapse -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.accordion-wrapper -->
          </div>
          <!--/column -->
          <div class="col-lg-6">
            <div id="accordion-2" class="accordion-wrapper">
              <div class="card accordion-item">
                <div class="card-header" id="accordion-heading-2-1">
                  <button
                    class="collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-collapse-2-1"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-2-1"
                  >
                    Create a simple echo Telegram bot
                  </button>
                </div>
                <!-- /.card-header -->
                <div
                  id="accordion-collapse-2-1"
                  class="collapse"
                  aria-labelledby="accordion-heading-2-1"
                  data-bs-target="#accordion-2"
                >
                  <div class="card-body">
                    <p>Create a new Telegram Bot echo it's amazing :)</p>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.collapse -->
              </div>
              <!-- /.card -->
              <div class="card accordion-item">
                <div class="card-header" id="accordion-heading-2-2">
                  <button
                    class="collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-collapse-2-2"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-2-2"
                  >
                    Use Google Translate Api for bot
                  </button>
                </div>
                <!-- /.card-header -->
                <div
                  id="accordion-collapse-2-2"
                  class="collapse"
                  aria-labelledby="accordion-heading-2-2"
                  data-bs-target="#accordion-2"
                >
                  <div class="card-body">
                    <p>
                      You will learn about Google translate Api and create a new
                      google translate telegram bot
                    </p>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.collapse -->
              </div>
              <!-- /.card -->
              <div class="card accordion-item">
                <div class="card-header" id="accordion-heading-2-3">
                  <button
                    class="collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-collapse-2-3"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-2-3"
                  >
                    Heroku & Telegram bot deployment
                  </button>
                </div>
                <!-- /.card-header -->
                <div
                  id="accordion-collapse-2-3"
                  class="collapse"
                  aria-labelledby="accordion-heading-2-3"
                  data-bs-target="#accordion-2"
                >
                  <div class="card-body">
                    <p>
                      In this section you'll learn about Git,GitHub, and Heroku
                      Cloud Application Server
                    </p>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.collapse -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.accordion-wrapper -->
          </div>
          <!--/column -->
        </div>
        <h3 class="display-4 mb-10 px-lg-12 px-xl-15 text-center">
          <a href="https://www.youtube.com/channel/UCz4fBOuYNN8IhMpp_3K8MZw"
            >Join now!</a
          >
        </h3>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
<section class="wrapper bg-light">
  <div class="container py-14 py-md-16">
    <div class="row">
      <div
        class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mx-auto text-center"
      >
        <h3 class="display-4 mb-6 px-xl-10 px-xxl-15">
          Thoughts about me from my teachers :)
        </h3>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div data-cue="fadeIn">
      <div
        class="carousel owl-carousel gap-small"
        data-margin="0"
        data-dots="true"
        data-autoplay="false"
        data-autoplay-timeout="5000"
        data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "2"}, "1200":{"items": "3"}}'
      >
        <div class="item">
          <div class="item-inner">
            <div class="card">
              <div class="card-body">
                <span class="ratings five mb-3"></span>
                <blockquote class="icon mb-0">
                  <p>
                    Didingiz bor ekan, ranglar ham yaxshi tanlabsiz, o'zi ham
                    bachkanalashib ketmabdi.
                    <a href="https://t.me/sariqdevchat/111015">See more..</a>
                  </p>
                  <div class="blockquote-details">
                    <img
                      class="rounded-circle w-12"
                      src="{% static 'assets/img/avatars/anvarnazrulayev.jpg' %}"
                      srcset="{% static 'assets/img/avatars/anvarnazrulayev.jpg' %}"
                      alt=""
                    />
                    <div class="info">
                      <h5 class="mb-0">Anvar Nazrullayev</h5>
                      <p class="mb-0">
                        Teacher at Universiti Sains Islam Malaysia.
                      </p>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.item-inner -->
        </div>
        <!-- /.item -->

        {% comment %} <div class="item">
          <div class="item-inner">
            <div class="card">
              <div class="card-body">
                <span class="ratings five mb-3"></span>
                <blockquote class="icon mb-0">
                  <p>
                    “Vivamus sagittis lacus vel augue laoreet rutrum faucibus
                    dolor auctor. Vestibulum id ligula porta felis euismod
                    semper. Cras justo odio dapibus facilisis sociis natoque.”
                  </p>
                  <div class="blockquote-details">
                    <img
                      class="rounded-circle w-12"
                      src="{% static 'assets/img/avatars/te11.jpg' %}"
                      srcset="{% static 'assets/img/avatars/te11.jpg' %}"
                      alt=""
                    />
                    <div class="info">
                      <h5 class="mb-0">Cory Zamora</h5>
                      <p class="mb-0">Marketing Specialist</p>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.item-inner -->
        </div>
        <!-- /.item --> {% endcomment %}

        <!-- <div class="item">
          <div class="item-inner">
            <div class="card">
              <div class="card-body">
                <span class="ratings five mb-3"></span>
                <blockquote class="icon mb-0">
                  <p>
                    “Vivamus sagittis lacus vel augue laoreet rutrum faucibus
                    dolor auctor. Vestibulum id ligula porta felis euismod
                    semper. Cras justo odio dapibus facilisis sociis natoque.”
                  </p>
                  <div class="blockquote-details">
                    <img
                      class="rounded-circle w-12"
                      src="{% static 'assets/img/avatars/te11.jpg' %}"
                      srcset="{% static 'assets/img/avatars/te11.jpg' %}"
                      alt=""
                    />
                    <div class="info">
                      <h5 class="mb-0">Nikolas Brooten</h5>
                      <p class="mb-0">Sales Manager</p>
                    </div>
                  </div>
                </blockquote>
              </div>
              /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.item-inner -->
        </div> 
        <!-- /.item -->
      </div>
      <!-- /.owl-carousel -->
    </div>
    <!-- /div -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
