{% extends "base.html" %}
{% load static %}
{% block title %}My Projects{% endblock %}

{% block content %}
<section class="wrapper bg-light">
    <div class="container py-14 py-md-17">
      <div class="row mb-8 text-center">
        <div class="col-lg-9 col-xl-8 col-xxl-7 mx-auto">
          <h2 class="fs-16 text-uppercase text-primary mb-3">My Telegram Bots</h2>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->

      <div class="grid grid-view projects-masonry">
        <div class="row gx-md-8 gy-10 gy-md-13 isotope">
            {% for project in projects %}
          <div class="project item col-md-6 col-xl-4 product">
            
            <a href="{{project.file.url}}" class="btn btn-circle btn-primary btn-play ripple mx-auto mb-5 position-absolute" style="top:40%; left: 50%; transform: translate(-50%,-50%); z-index:3;" data-glightbox="" data-gallery="about"><i class="icn-caret-right"></i>
            </a>
            <figure class="lift rounded mb-6"><a target="_blank" href="{{project.link}}"> <img src="{{project.image.url}}" alt="" /></a></figure>
            <div class="project-details d-flex justify-content-center flex-column">
              <div class="post-header">
                <div class="post-category mb-2 text-yellow">{{project.category}}</div>
                <a target="_blank" href="{{project.link}}">
                    <h2 class="post-title h3">Telegram Bot {{project.name}}</h2>
                </a>
              </div>
              <!-- /.post-header -->
              
            </div>
            <!-- /.project-details -->
            
          </div>
          {% endfor %}
          <!-- /.project -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.grid -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->

{% endblock %}